{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Gov One Login Demo
            <span class="govuk-caption-l govuk-!-padding-top-3">Showing how data can be saved as part of login</span>

        </h1>

        <p>This is not a real service</p>

        <h2 class="govuk-heading-m"><a href="/signin/index">One Login demo</a></h2>

    </div>
</div>


{% endblock %}
